*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4C4C6D;
}

h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 125px;
    color: #27E1C1;
    text-shadow: 2px 2px black;
}

h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 45px;
    color: #27E1C1;
    text-shadow: 2px 2px black;
}
/* .h3{
    background-color: black;
} */
button{
    border: 10px solid #7D7463;
    width: 20%;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
}
.btn{
    padding-left: 44%;
}
p{
    font-size: 37px;
    font-family: 'Indie Flower', cursive;
    padding-bottom: 8%;
    color: #27E1C1;
    text-align: center;

}

img{
    width: 240px;
}


.Middle{
    display: flex;
    margin: 0% 30%;
    padding-top: 3%;
}

.Dicee{
    width: 50%;
}

footer{
    padding: 3% 0 4% 0; 
    text-align: center;
    color: white;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }

